.list {
    margin: 8px 0;
}

.addFormTitle {
    display: flex
}

.platformRender {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }

    span {
        display: inline-flex;
        .shopNo {
            padding-left: 4px;
        }
    }

    .handle {
        cursor: pointer;
        padding-left: 14px;
    }
}

.setting {
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 10;
}

.colorTag {
    padding: 2px 4px;
    border-radius: 4px;
}

:global {

    .ant-form-item {
        margin-bottom: 6px;

        .ant-form-item-label {
            padding: 0 0 4px;
        }
        .ant-form-item-label >label {
            height: 22px;
        }
    }

    .ant-descriptions-item-label,
    .ant-descriptions-item-content {
        padding: 8px !important;
    }
}
