@import (reference) '../../../../assets/css/variables.css';

.ant-anchor-link-active {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-active, #75bcff);
  }
}

.ant-anchor-link-title {
  font-family: Inter, "Noto Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Microsoft YaHei", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    transition: all 0.3s;
  }
}

.ant-anchor-link-title:hover {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-active, #75bcff);
  }
}

.ant-anchor-link {
  font-size: 12px;
  line-height: 20px;
  margin: 3px 0 3px 5px;
  padding-left: 5px;
  padding-block: 0 !important;
  padding-inline: 4px 0 !important;

  .link_nodename {
    position: absolute;
    right: 2px;
    font-size: 12px;
    color: var(--color-text-muted, #ccc);
    font-weight: normal;
  }

  &:hover {
    .link_nodename {
      display: inline-block;
    }
  }
}

.ant-anchor-link-title :hover {
  color: var(--color-active, #75bcff) !important;
}

.ant-anchor-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 115px) !important;
}
