.drawerCloseBtn {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  color: #595959;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f0f0f0;
    color: #1d1d1d;
  }
}
