@import (reference) "../../../assets/css/variables.css";

.card {
    background: #fff !important;

    :global(.ant-card-body) {
        padding: 16px !important;
        border-top: 1px solid #e8e8e8 !important;
    }
}