@import (reference) "../../assets/css/variables.css";

.container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.5s;
  z-index: 201;

  .circle {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.containerToRight {
  right: -74px;

  .toRightIcon {
    margin-right: 50px;
    transition: all 0.3s;
    text-align: left;
  }
}


@media screen and (max-width: 768px) {
  .containerToRight {
    right: -60px;

    .toRightIcon {
      margin-right: 42px;
    }
  }
}