/* =========================================
1. 基础样式
========================================= */
@prefix: 'markdown-tabs';
/* 整个 Tab 组的容器 */
.markdown-tabs-tabs-wrapper {
  border-radius: 6px;
  overflow: hidden;
}

/* 头部导航栏 */
.markdown-tabs-tabs-header {
  display: flex;
  border-bottom: 1px solid #ccc;
  overflow-y: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* 单个导航按钮 */
.markdown-tabs-tab-button {
  box-shadow: none !important;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  background: transparent;
  transition: all 0.2s;
  border-radius: 4px;

  &:last-child {
    border-right: none;
  }

  &:hover {
    color: #333;
    box-shadow: none !important;
  }

  &.active {
    color: #007bff;
    position: relative;

    &::after {
      content: ' ';
      position: absolute;
      width: calc(100% - 20px);
      height: 2px;
      background: #007bff;
      bottom: -1px;
      left: 10px;
      border-radius: 2px;
    }
  }
}

/* 内容区域 */
.markdown-tabs-tabs-container {
  position: relative;
}

.markdown-tabs-tab-content {
  // display: none;
  opacity: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
  /* 默认隐藏 */
  transition: all 0.4s ease-in-out;
}

/* 激活状态的内容显示 */
.markdown-tabs-tab-content.active {
  opacity: 1;
  height: auto;
  margin: 10px 0;
}
