@import (reference) "../../assets/css/variables.css";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 60px;
}

.loginImg {
  max-width: 400px;
  width: 100%;
  height: auto;
}

:global {
  .login-form {
    padding: 40px 60px !important;
    background: var(--color-bg-white, #fff);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    min-width: 450px;
  }
  .login-form-button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .login {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  .loginImg {
    max-width: 200px;
  }

  :global {
    .login-form {
      padding: 30px 20px !important;
      min-width: unset;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
