<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="http://remons.cn:3009/upload/info/favicon.ico" />
  <% for (const i in externals_css) {%>
    <link rel="stylesheet" href="<%= externals_css[i] %>" />
    <%} %>
</head>

<body>
  <div id="container"></div>
  <div id="loading"></div>
  <% for (const i in externals_js) {%>
    <script crossorigin src="<%= externals_js[i] %>"></script>
    <%} %>
</body>

</html>